<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= form_for @dream do |f| %>
        Title: <%= f.text_field :title, required: true %><br/>
        <div class="field">
          <%= f.label :description %><br/>
          <%= f.cktext_area :description, required: true, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :date %><br/>
          <%= f.date_select :dream_date , order: [:month, :day, :year] ,start_year: 1900, end_year: Time.now.year, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :interval %><br/>
          <%= f.text_field :interval, required: true %>
        </div>
        <div class="field">
          <%= f.label :image %><br />
          <%= f.file_field :image, data: { placeholder: "No file selected" } %>
        </div>
        <div>Private: <%= f.check_box :private, {}, 'true', 'false' %></div>
        <div class="field">
          <%= f.label :category %><br />
          <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit 'Save', class:"btn btn-primary" %>
        </div>
      <% end %>
    <div/>
    <div class="col"></div>
  <div/>
<div/>



