<%= form_for @dream do |f| %>
  Title: <%= f.text_field :title, required: true %><br />
  Description: <%= f.text_area :description, required: true %><br />
  Date: <%= f.date_select :dream_date , order: [:month, :day, :year] ,start_year: 1900, end_year: Time.now.year%><br />
  Interval: <%= f.text_field :interval, required: true %><br />
  Image: <%= f.file_field :image, data: { placeholder: "No file selected" } %><br>
  Private: <%= f.check_box :private, {}, 'true', 'false' %><br>
  Category: <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
  <label class="btn btn-primary active">
    <%= f.submit %>
  </label>
<% end %>
