<main class="container card shadow-sm">
  <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"><%= @dream.title %></h1>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-12">
        <div class="mb-4 text-center ">
          <%= image_tag(@dream.image.url(:medium)) %>
        </div>
          <h1 class= "text-center" >About the dream</h1>
        <span style="font-family: Arial;">
          <%= @dream.description %>
        </span>
        <div>
          <p><h3>Sleep requisites</h3><br>
            <span>Title:</span> <%= @dream.title %><br>
            <span>Date:</span>   <%= @dream.dream_date %><br>
            <span>Interval:</span>   <%= @dream.interval %><br>
            <span>User name:</span>   <%= @dream.user.name %><br>
            <span>Category:</span>   <%= @dream.category.name %><br>
          </p>
          <div class="btn-group" role="group" aria-label="Простой пример">
            <%= link_to 'All dreams', dreams_path, class: 'btn btn-primary' %>
            <%= link_to 'Back', current_user, class: 'btn btn-primary' %>
          </div>
          <h4 class="text-start">Comments:</h4>

          <% @dream_comments.each do |comment| %>
            <div class="mb-2 border">
              <div class="text-start text-primary">
                <%= comment.user.email %>
              </div>
              <div class="mb-2 text-center">
                <%= comment.text %>
                <% if comment.user == current_user %>
                  <div class='col-10 d-flex flex-row-reverse'>
                    <%= link_to 'Delete', comment_path(comment), method: :delete, class: 'btn btn-danger' %>
                  </div>
                 <% end %>
              </div>
            </div>
          <% end %>
          <div class="container text-end">
            <div class="row">
              <div class="col-md-7">

                <%= form_for @comment, url: { controller: :comments, action: :create } do |f| %>
                  <div class="field">
                    <%= f.text_area :text, required: true, class: "form-control" %>
                    <%= f.hidden_field :dream_id %>
                  </div>
                  <div class="actions">
                    <%= f.submit 'Comment', class:"btn btn-primary" %>
                  </div>
                <% end %>
                <hr>
                  <%= link_to 'Back', user_path(current_user), class: 'btn btn-primary' %></td>
                </hr>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>

      <div class="col"></div>
    </div>
  <div/>
</main>
