<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1><%= @user.name %></h1>
        <h3><%= @user.email %></h3>
        <p class="lead text-muted"><h3>Welcome to my dreams.</h3></p>
        <p>
          <% if current_user.id == @user.id %>
            <%= link_to 'Create new dream', new_dream_path, class: 'btn btn-primary' %>
            <%= link_to 'Edit profile', edit_user_path(current_user), class: 'btn btn-primary' %>
          <% end %>
          <%= link_to 'All dreams', dreams_path, class: 'btn btn-primary' %>
          <%= link_to 'All users', users_path, class: 'btn btn-primary' %>
        </p>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-lg-6  mx-auto">
      <div class="card text-center">
          <% @dreams.each do |dream| %>
            <div class="container card">
              <p class="card-text"><h4><%= dream.title %></h4></p>
              <p class="card-text"><%= dream.description.html_safe.first(150) %></p>
              <div class="mb-4 text-center ">
                <%= image_tag(dream.image.url(:medium)) %>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'Open', dream_path(dream), class: 'btn btn-primary' %>
                  <% if current_user.id == @user.id %>
                    <%= link_to 'Edit', edit_dream_path(dream), class: 'btn btn-primary' %>
                    <%= link_to 'Destroy', dream_path(dream), data: {method: :delete, confirm: 'Are you sure' },  class: 'btn btn-primary'%></td>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</main>
