<footer class="text-muted py-5">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="<%= root_path %>" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="<%= users_path %>" class="nav-link px-2 text-muted">Users</a></li>
      <li class="nav-item"><a href="<%= dreams_path %>" class="nav-link px-2 text-muted">Dreams</a></li>
      <li class="nav-item"><a href="<%= categories_path %>" class="nav-link px-2 text-muted">Categories</a></li>
      <li class="nav-item"><a href="<%= aboutes_path %>" class="nav-link px-2 text-muted">About</a></li>
      <li class="float-end mb-1"><a href="#" class="nav-link px-2 text-primary">Back to top</a>
    </ul>
    <p class="text-center text-muted">© 2021 Company, Inc</p>
  </div>
</footer>
