<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom,"navbar navbar-light" style="background-color: #e3f2fd;"">
    <a href="<%= root_path %>" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="root_path"></use></svg>
      <div>
       <div class='col-12 btn btn-primary'>Sweet Dreams</div>
      </div>
    </a>
    <div class='col-2 d-flex text-primary'>
      <%= Time.now.strftime("%d.%m.%Y %H:%M") %>
    </div>
    <% unless current_user %>
      <div class='col-2 text-primary'>
        <ul>
          <li><%= link_to 'English', root_path(locale: :en) %> </li>
          <li><%= link_to 'Русский', root_path(locale: :ru) %> </li>
          <li><%= link_to 'German', root_path(locale: :de) %> </li>
        </ul>
      </div>
    <% end %>

    <%= form_tag dreams_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :search, params[:search], class: "form-control me-2" %>
      <%= submit_tag(t('find_dream'), name: nil, class: 'btn btn-primary') %>
    <% end %>
    <% if user_signed_in? %>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <%if current_user.admin?%>
              <%= link_to 'Users', admin_users_path, class: "nav-link" %>
            <%else%>
              <%= link_to 'Users', users_path, class: "nav-link" %>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to 'Dreams', dreams_path, class: "nav-link" %>
          </li>
          <%# <li class="nav-item">
            <%= link_to 'Comment', comments_path, class: "nav-link" %>
          <%# </li> %>
          <% if current_user.admin? %>
            <li class="nav-item">
            <%= link_to 'Categories', categories_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
            <%= link_to 'Tags', tags_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'My Account', current_user, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, class: "nav-link", method: :delete %>
          </li>
        </ul>
        <% else %>
          <ul class="nav nav-pills">
          <li class="nav-item">
            <%= link_to t('login_header'), new_user_session_path, class: "nav-link" %></td>
          </li>
          <li class="nav-item">
            <%= link_to t('register_now'), new_user_registration_path, class: "nav-link" %>
          </li>
          </ul>
        <% end %>
  </header>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
