<!DOCTYPE html>
<html>
  <head>
    <title>SweetDreams</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <div class='d-grid gap-4 d-md-flex justify-content-md-start'>
      <audio
        data-turbo-permanent
        id="white-noise-player"
        controls
        src="http://uk1.internet-radio.com:8267/listen.pls&t=.m3u">
          Your browser does not support the
          <code>audio</code> element.
      </audio>
    </div>
    <%= render 'shared/header' %>
    <% unless current_user&.blocked %>
      <%= yield %>
    <% else %>
      <h2>You are blocked</h2>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
